@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Quintessential);

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$muted: #999999;
$success: #468847;
$warning: #C09853;
$info: #3A87AD;
$error: #B94A48;
$bodyColour: #f8f5ee;

header.navbar.navbar-inverse.navbar-fixed-top.game div.navbar-inner{
  min-height: 0px;
}
body, header.navbar.navbar-inverse.navbar-fixed-top {
  background-color: $bodyColour;
}
body.game, header.navbar.navbar-inverse.navbar-fixed-top.game
{
  background-image:url('background-texture.jpg');
  background-repeat:repeat;
}

#collapsePointer{
  cursor:pointer;
  background-color: $grayMediumLight;
  margin-top: 0px;
  paddinf-top: 0px;
}

.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 1.35s ease;
  -moz-transition: height 1.35s ease;
  -o-transition: height 1.35s ease;
  transition: height 1.35s ease;
}

.collapse.in.height {
  height: auto;
}


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.best_in_place {
  padding: .1m;
  cursor: hand;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.best_in_place:hover {
  padding-right: 1.5em;
  background: url("red_pen.png") no-repeat right;
  background-color: #CCC;
}
/*validation messages for best_in_place */
.purr {
  position: fixed;
  top: 100px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}
/* universal */
html {
overflow-y: scroll;
}
body {
padding-top: 100px;
}

body.game {
padding-top: 70px;
}

header.game {
  height: 10px;
}

body.game.hideNav {
padding-top: 0px;
}

header.game.hideNav {
  height: 0px;
}

section {
overflow: auto;
}
textarea {
resize: vertical;
}
/* input and textarea in forms*/
.field textarea { 
  width: 100%;
}

.field input.number_input_field { 
  width: 50px;
}

.field label {
    word-wrap: break-word;
} 

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.popover-close{
  float: right;
}
/* footer */
body, html{ height:100%; margin:0; }
.wrapper{ min-height:100%; }
header{ height:86px; background:#fff; overflow:auto; display:block; }
.content{ padding-bottom: 36px; }
footer{ height: 36px; width:100%; background:#fff; margin-top:-36px; display:block; }
    
/* typography */
/*
body, html{
  font-family: "Verdana"
}
*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
header {height:86px}
#branding a{
  color: white;
}
#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
  a img{  
    height: 50px;
  }
}     
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
