// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.results_items{
  list-style-type: none;
  margin: 0 0 0 0;
  li{
    list-style-position:inside;
    margin: 0 0 0 0;
    .list-group-item-heading {        
      height:100px;
    }    
  }
}
